extends emailBase

block content
  p Hi #{firstName},
  p We received a request to reset your password for your Natours account.
  p Click the button below to set a new password. This link will expire in a short time for security reasons.

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password

  p If you didn’t request a password reset, please ignore this email — your password will remain unchanged.
  p For security, please do not share this link with anyone.
  p - Omar Mohamed, Natours Team
